doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Mohar
    meta(content='width=device-width, initial-scale=1.0', name='viewport')
    meta(content='', name='keywords')
    meta(content='', name='description')
    // Favicon
    link(href='img/favicon.ico', rel='icon')
    // Google Web Fonts
    link(rel='preconnect', href='https://fonts.googleapis.com')
    link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Heebo:wght@400;500&family=Jost:wght@500;600;700&display=swap', rel='stylesheet')
    // Icon Font Stylesheet
    link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css', rel='stylesheet')
    link(href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css', rel='stylesheet')
    // Libraries Stylesheet
    link(href='lib/animate/animate.min.css', rel='stylesheet')
    link(href='lib/owlcarousel/assets/owl.carousel.min.css', rel='stylesheet')
    // Customized Bootstrap Stylesheet
    link(href='css/bootstrap.min.css', rel='stylesheet')
    // Template Stylesheet
    link(href='css/style.css', rel='stylesheet')
  body(data-bs-spy='scroll', data-bs-target='.navbar', data-bs-offset='51')
    .container-xxl.bg-white.p-0
      // Spinner Start
      #spinner.show.bg-white.position-fixed.translate-middle.w-100.vh-100.top-50.start-50.d-flex.align-items-center.justify-content-center
        .spinner-grow.text-primary(style='width: 3rem; height: 3rem;', role='status')
          span.sr-only Loading...
      // Spinner End
      // Navbar & Hero Start
      #home.container-xxl.position-relative.p-0
        nav.navbar.navbar-expand-lg.navbar-light.px-4.px-lg-5.py-3.py-lg-0
          a.navbar-brand.p-0(href='')
            h1.m-0 Mohar
            // <img src="img/logo.png" alt="Logo">
          button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarCollapse')
            span.fa.fa-bars
          #navbarCollapse.collapse.navbar-collapse
            .navbar-nav.mx-auto.py-0
              a.nav-item.nav-link.active(href='#home') Home
              a.nav-item.nav-link(href='#about') About
              a.nav-item.nav-link(href='#feature') Feature
              a.nav-item.nav-link(href='privacypolicy.html') Privacy Policy
            a.btn.btn-primary-gradient.rounded-pill.py-2.px-4.ms-3.d-none.d-lg-block(href='https://play.google.com/store/apps/details?id=me.enginestein.mohar') Download
        .container-xxl.bg-primary.hero-header
          .container.px-lg-5
            .row.g-5
              .col-lg-8.text-center.text-lg-start
                h1.text-white.mb-4.animated.slideInDown The professional image saviour!
                p.text-white.pb-3.animated.slideInDown
                  | Introducing Mohar, the ultimate advanced watermarker app that ensures robust image protection. With a user-friendly interface and customizable features, Mohar empowers you to effortlessly add watermarks, embed invisible marks, and batch process multiple images. Preserve image quality while safeguarding your creations with Mohar&apos;s advanced algorithms and integrated metadata editor. Seamlessly integrate with cloud storage platforms for secure storage and enjoy peace of mind knowing your images are protected by innovation and reliability.
                a.btn.btn-primary-gradient.py-sm-3.px-4.px-sm-5.rounded-pill.me-3.animated.slideInLeft(href='privacypolicy.html') Read Privacy Policy
                a.btn.btn-secondary-gradient.py-sm-3.px-4.px-sm-5.rounded-pill.animated.slideInRight(href='mailto:maatierra@outlook.com') Contact Us
              .col-lg-4.d-flex.justify-content-center.justify-content-lg-end.wow.fadeInUp(data-wow-delay='0.3s')
                .owl-carousel.screenshot-carousel
                  img.img-fluid(src='img/1.png', alt='')
                  img.img-fluid(src='img/2.png', alt='')
                  img.img-fluid(src='img/3.png', alt='')
                  img.img-fluid(src='img/4.png', alt='')
                  img.img-fluid(src='img/5.png', alt='')
                  img.img-fluid(src='img/6.png', alt='')
                  img.img-fluid(src='img/7.png', alt='')
                  img.img-fluid(src='img/8.png', alt='')
                  img.img-fluid(src='img/9.png', alt='')
                  img.img-fluid(src='img/10.png', alt='')
      // Navbar & Hero End
      // About Start
      #about.container-xxl.py-5
        .container.py-5.px-lg-5
          .row.g-5.align-items-center
            .col-lg-6.wow.fadeInUp(data-wow-delay='0.1s')
              h5.text-primary-gradient.fw-medium About App
              h1.mb-4 #1 App To Protect Your Images
              p.mb-4
                | Introducing Mohar, the ultimate advanced watermarker app that ensures robust image protection. With a user-friendly interface and customizable features, Mohar empowers you to effortlessly add watermarks, embed invisible marks, and batch process multiple images. Preserve image quality while safeguarding your creations with Mohar&apos;s advanced algorithms and integrated metadata editor. Seamlessly integrate with cloud storage platforms for secure storage and enjoy peace of mind knowing your images are protected by innovation and reliability.
              .row.g-4.mb-4
                .col-sm-6.wow.fadeIn(data-wow-delay='0.5s')
                  .d-flex
                    i.fa.fa-cogs.fa-2x.text-primary-gradient.flex-shrink-0.mt-1
                    .ms-3
                      h2.mb-0(data-toggle='counter-up') 100
                      p.text-primary-gradient.mb-0 Active Installations
                .col-sm-6.wow.fadeIn(data-wow-delay='0.7s')
                  .d-flex
                    i.fa.fa-comments.fa-2x.text-secondary-gradient.flex-shrink-0.mt-1
                    .ms-3
                      h2.mb-0(data-toggle='counter-up') 100
                      p.text-secondary-gradient.mb-0 Clients Reviews
              a.btn.btn-primary-gradient.py-sm-3.px-4.px-sm-5.rounded-pill.mt-3(href='https://play.google.com/store/apps/details?id=me.enginestein.mohar') Download Now
            .col-lg-6
              img.img-fluid.wow.fadeInUp(data-wow-delay='0.5s', src='img/about.png')
      // About End
      // Features Start
      #feature.container-xxl.py-5
        .container.py-5.px-lg-5
          .text-center.wow.fadeInUp(data-wow-delay='0.1s')
            h5.text-primary-gradient.fw-medium App Features
            h1.mb-5 Awesome Features
          .row.g-4
            .col-lg-4.col-md-6.wow.fadeInUp(data-wow-delay='0.1s')
              .feature-item.bg-light.rounded.p-4
                .d-inline-flex.align-items-center.justify-content-center.bg-primary-gradient.rounded-circle.mb-4(style='width: 60px; height: 60px;')
                  i.fa.fa-eye.text-white.fs-4
                h5.mb-3 High Resolution
                p.m-0 Exporting images in the best quality with AI auto enhancement features.
            .col-lg-4.col-md-6.wow.fadeInUp(data-wow-delay='0.3s')
              .feature-item.bg-light.rounded.p-4
                .d-inline-flex.align-items-center.justify-content-center.bg-secondary-gradient.rounded-circle.mb-4(style='width: 60px; height: 60px;')
                  i.fa.fa-layer-group.text-white.fs-4
                h5.mb-3 Quality
                p.m-0 Configurable quality for export images.
            .col-lg-4.col-md-6.wow.fadeInUp(data-wow-delay='0.5s')
              .feature-item.bg-light.rounded.p-4
                .d-inline-flex.align-items-center.justify-content-center.bg-primary-gradient.rounded-circle.mb-4(style='width: 60px; height: 60px;')
                  i.fa.fa-edit.text-white.fs-4
                h5.mb-3 Customization
                p.m-0 A wide range of features to add custom watermarks to your images.
            .col-lg-4.col-md-6.wow.fadeInUp(data-wow-delay='0.1s')
              .feature-item.bg-light.rounded.p-4
                .d-inline-flex.align-items-center.justify-content-center.bg-secondary-gradient.rounded-circle.mb-4(style='width: 60px; height: 60px;')
                  i.fa.fa-shield-alt.text-white.fs-4
                h5.mb-3 Secure
                p.m-0
                  | We guarantee about the privacy and security of our users and data leak protection.
            .col-lg-4.col-md-6.wow.fadeInUp(data-wow-delay='0.3s')
              .feature-item.bg-light.rounded.p-4
                .d-inline-flex.align-items-center.justify-content-center.bg-primary-gradient.rounded-circle.mb-4(style='width: 60px; height: 60px;')
                  i.fa.fa-cloud.text-white.fs-4
                h5.mb-3 Easy to use
                p.m-0 A very easy to use application with simple UI interface.
            .col-lg-4.col-md-6.wow.fadeInUp(data-wow-delay='0.5s')
              .feature-item.bg-light.rounded.p-4
                .d-inline-flex.align-items-center.justify-content-center.bg-secondary-gradient.rounded-circle.mb-4(style='width: 60px; height: 60px;')
                  i.fa.fa-mobile-alt.text-white.fs-4
                h5.mb-3 Simple
                p.m-0 A neat and simple application to use for all ages.
      // Features End
      // Screenshot Start
      .container-xxl.py-5
        .container.py-5.px-lg-5
          .row.g-5.align-items-center
            .col-lg-8.wow.fadeInUp(data-wow-delay='0.1s')
              h5.text-primary-gradient.fw-medium Screenshots
              h1.mb-4 User Friendly interface And Very Easy To Use
              p.mb-4
                | Our Android watermarking app offers a user-friendly interface and is incredibly easy to use. With its intuitive design, users can effortlessly navigate through the app&apos;s features and functionalities. Whether you&apos;re a professional photographer or an amateur looking to protect your images, our app provides a seamless experience. The straightforward layout allows users to add watermarks to their photos with just a few taps, ensuring a hassle-free process. We believe in making technology accessible to all, and our app reflects that philosophy by providing a user-friendly interface that anyone can master in no time.
              p
                i.fa.fa-check.text-primary-gradient.me-3
                | Simple UI
              p
                i.fa.fa-check.text-primary-gradient.me-3
                | Quick Editing
              p.mb-4
                i.fa.fa-check.text-primary-gradient.me-3
                | Multiple Features
              a.btn.btn-primary-gradient.py-sm-3.px-4.px-sm-5.rounded-pill.mt-3(href='https://play.google.com/store/apps/details?id=me.enginestein.mohar') Download Now
            .col-lg-4.d-flex.justify-content-center.justify-content-lg-end.wow.fadeInUp(data-wow-delay='0.3s')
              .owl-carousel.screenshot-carousel
                img.img-fluid(src='img/1.png', alt='')
                img.img-fluid(src='img/2.png', alt='')
                img.img-fluid(src='img/3.png', alt='')
                img.img-fluid(src='img/4.png', alt='')
                img.img-fluid(src='img/5.png', alt='')
      // Screenshot End
      // Process Start
      .container-xxl.py-5
        .container.py-5.px-lg-5
          .text-center.pb-4.wow.fadeInUp(data-wow-delay='0.1s')
            h5.text-primary-gradient.fw-medium How To Use?
            h1.mb-5 3 Easy Steps
          .row.gy-5.gx-4.justify-content-center
            .col-lg-4.col-sm-6.text-center.pt-4.wow.fadeInUp(data-wow-delay='0.1s')
              .position-relative.bg-light.rounded.pt-5.pb-4.px-4
                .d-inline-flex.align-items-center.justify-content-center.bg-primary-gradient.rounded-circle.position-absolute.top-0.start-50.translate-middle.shadow(style='width: 100px; height: 100px;')
                  i.fa.fa-cog.fa-3x.text-white
                h5.mt-4.mb-3 Install the App
                p.mb-0 Install the Mohar app for android from Google play store
            .col-lg-4.col-sm-6.text-center.pt-4.wow.fadeInUp(data-wow-delay='0.3s')
              .position-relative.bg-light.rounded.pt-5.pb-4.px-4
                .d-inline-flex.align-items-center.justify-content-center.bg-secondary-gradient.rounded-circle.position-absolute.top-0.start-50.translate-middle.shadow(style='width: 100px; height: 100px;')
                  i.fa.fa-address-card.fa-3x.text-white
                h5.mt-4.mb-3 Choose images
                p.mb-0 Select as much images wanted directly from gallery
            .col-lg-4.col-sm-6.text-center.pt-4.wow.fadeInUp(data-wow-delay='0.5s')
              .position-relative.bg-light.rounded.pt-5.pb-4.px-4
                .d-inline-flex.align-items-center.justify-content-center.bg-primary-gradient.rounded-circle.position-absolute.top-0.start-50.translate-middle.shadow(style='width: 100px; height: 100px;')
                  i.fa.fa-check.fa-3x.text-white
                h5.mt-4.mb-3 Start Editing
                p.mb-0 Start editing and watermarking your images altogether
      // Process Start
      // Download Start
      .container-xxl.py-5
        .container.py-5.px-lg-5
          .row.g-5.align-items-center
            .col-lg-6
              img.img-fluid.wow.fadeInUp(data-wow-delay='0.1s', src='img/about.png')
            .col-lg-6.wow.fadeInUp(data-wow-delay='0.3s')
              h5.text-primary-gradient.fw-medium Download
              h1.mb-4 Download The Latest Version Of Our App
              p.mb-4
                | Our app is available for mostly all of the Android devices, download Mohar from play store now and do not forget to write a review if you like it.
              .row.g-4
                .col-sm-6.wow.fadeIn(data-wow-delay='0.7s')
                  a.d-flex.bg-secondary-gradient.rounded.py-3.px-4(href='https://play.google.com/store/apps/details?id=me.enginestein.mohar')
                    i.fab.fa-android.fa-3x.text-white.flex-shrink-0
                    .ms-3
                      p.text-white.mb-0 Available On
                      h5.text-white.mb-0 Play Store
      // Download End
      // Footer Start
      .container-fluid.bg-primary.text-light.footer.wow.fadeIn(data-wow-delay='0.1s')
        .container.py-5.px-lg-5
          .row.g-5
            .col-md-6.col-lg-3
              h4.text-white.mb-4 Address
              p
                i.fa.fa-map-marker-alt.me-3
                | Udaipur, India
              p
                i.fa.fa-phone-alt.me-3
                | +91 7088477477
              p
                i.fa.fa-envelope.me-3
                | maatierra@outlook.com
            .col-md-6.col-lg-3
              h4.text-white.mb-4 Quick Link
              a.btn.btn-link(href='') About Us
            .col-md-6.col-lg-3
              h4.text-white.mb-4 Popular Link
              a.btn.btn-link(href='') About Us
        .container.px-lg-5
          .copyright
            .row
              .col-md-6.text-center.text-md-start.mb-3.mb-md-0
                | &copy; 
                a.border-bottom(href='#') Maa Tierra, Mohar
                | , All Right Reserved. 
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                | &#x9;&#x9;&#x9;&#x9;&#x9;
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Creation of 
                a.border-bottom(href='https://www.maatierra.com') Maa Tierra
      // Footer End
      // Back to Top
      a.btn.btn-lg.btn-lg-square.back-to-top.pt-2(href='#')
        i.bi.bi-arrow-up.text-white
    // JavaScript Libraries
    script(src='https://code.jquery.com/jquery-3.4.1.min.js')
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js')
    script(src='lib/wow/wow.min.js')
    script(src='lib/easing/easing.min.js')
    script(src='lib/waypoints/waypoints.min.js')
    script(src='lib/counterup/counterup.min.js')
    script(src='lib/owlcarousel/owl.carousel.min.js')
    // Template Javascript
    script(src='js/main.js')