append variables
mixin Autopilot
  section.p-0#docs
    
    .container
      .row.align-items-center
        .col-12.col-lg-7.col-xl-5.text-lg-start.text-center
          h1.fs-3.fw-normal.mt-6
          p.fs-0 
          