mixin Section2
  +Section
    .row.align-items-center
      .col-md-6.mb-4
        img.w-100(src=`${CWD}assets/img/illustration/5.png`  alt='...')
      .col-md-6.text-center.text-md-start
        h4.fs-3.fw-normal(data-zanim-xs!={delay: 0.3} data-zanim-trigger='scroll') Driving Innovation Through Continuous Improvement
        p.fs-0.pe-xl-7(data-zanim-xs!={delay: 0.5} data-zanim-trigger='scroll') Our commitment to innovation and continuous improvement is unwavering. We constantly push boundaries, embracing new technologies and ideas to deliver cutting-edge solutions that surpass expectations. Through ongoing learning and refinement, we stay ahead of the curve, ensuring our products and services remain at the forefront of the industry.
        .d-flex.justify-content-center.align-item-center.my-3.mt-2
        button.btn.btn-sm.btn-primary.btn-bg-purple.my-4.me-1(href='#customers' role='button') View Products
        a.btn.btn-sm.my-2.btn-default(href='mailto:maatierra@outlook.com' role='button') Questions? Talk to our team
          i.fas.fa-arrow-right.ms-2
    
