mixin Section1
  +Section#pricing
    .row.flex-center
      .col-md-6.text-center.text-md-start
        h4.fw-normal.fs-3(data-zanim-xs!={delay: 0.3} data-zanim-trigger='scroll') Safety Is Always 
          br
          |Our Top Priority
        p.fs-0.pe-xl-8(data-zanim-xs!={delay: 0.5} data-zanim-trigger='scroll') We are commited to provide our users safe applications and products. Safety, security and protection is our first and foremost priority which is our commitment.
        .d-flex.justify-content-space-between.align-item-center.my-3.mt-2
        button.btn.btn-sm.btn-primary.my-4.me-1(href='#customers' role='button') View Products
        a.btn.btn-sm.my-2.btn-default(href='mailto:maatierra@outlook.com' role='button') Questions? Talk to our team
          i.fas.fa-arrow-right.ms-2
      .col-md-6.mb-4
        img.w-100(src=`${CWD}assets/img/illustration/4.png`  alt='...')
        
          